/* fonts */
@font-face {
	font-family: 'ppneuemontreal';
	src: url('/fonts/ppneuemontreal-thin.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ppneuemontreal';
	src: url('/fonts/ppneuemontreal-book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ppneuemontreal';
	src: url('/fonts/ppneuemontreal-italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'ppneuemontreal';
	src: url('/fonts/ppneuemontreal-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ppneuemontreal';
	src: url('/fonts/ppneuemontreal-mediuitalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'ppneuemontreal';
	src: url('/fonts/ppneuemontreal-semibolditalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'ppneuemontreal';
	src: url('/fonts/ppneuemontreal-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* normlaizer */
*,
*::before,
*::after {
	border-width: 0;
	border-style: solid;
	border-color: theme('borderColor.default', currentColor);
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
	margin: 0;
}

/* Post CSS */
:root {
	--color-ffffff: #ffffff;
	--color-000000: #000000;
	--color-4e535b: #4e535b;
	--color-1f1f1f: #1f1f1f;
	--color-0050ef: #0050ef;
	--color-d8d8d8: #d8d8d8;
	--color-6d6d6d: #6d6d6d;
	--color-31dace: #31dace;
	--color-f7f3f2: #f7f3f2;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'ppneuemontreal', sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	margin: 0;
	padding: 0;
	color: var(--color-1f1f1f);
	background-color: var(--color-f7f3f2);
	line-height: 1.25;
	font-size: 1rem;
}

main {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	width: 100%;
	overflow: clip;
}

section {
	position: relative;
	z-index: 20;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 92svw;
	max-width: 33.75rem;
	margin: 0 auto;
	position: relative;
	z-index: 20;

	&.container-article {
		padding: 2rem 0;
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
	}
}

.article-top {
	color: var(--color-4e535b);
	font-size: 0.875rem;
	display: flex;
	column-gap: 0.375rem;
	align-items: center;

	& .dot {
		width: 2px;
		height: 2px;
		border-radius: 999px;
		background-color: var(--color-4e535b);
	}
}

article {
	line-height: 125%;

	& > :not(div):first-child,
	& > div:first-child > :first-child {
		margin-top: 0 !important;
	}
	& > :last-child,
	& ol li:last-child,
	& ul li:last-child,
	& p:last-child {
		margin-bottom: 0;
	}

	& h1 {
		font-size: 2rem;
		font-weight: 500;
		margin-bottom: 0.5rem;
		margin-top: 1.5rem;
		line-height: 115%;
	}

	& h2 {
		font-size: 1.5rem;
		font-weight: 500;
		margin-bottom: 0.5rem;
		margin-top: 1.5rem;
		line-height: 115%;
	}

	& h3 {
		font-size: 1.25rem;
		font-weight: 500;
		margin-top: 1rem;
		line-height: 115%;
	}

	& h4 {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 1.2;
		margin-top: 1rem;
		line-height: 115%;
	}

	& strong {
		font-weight: 600;
	}

	& a {
		text-decoration: none;
		color: var(--color-0050ef);
	}

	& figure {
		margin-bottom: 2.5rem;
		margin-top: 1.5rem;
	}

	& figcaption {
		font-size: 0.75rem;
		color: var(--color-4e535b);
		margin-top: 0.5rem;
	}

	& img {
		width: 100%;
		border-radius: 1.25rem;
	}

	& p,
	& ul,
	& ol {
		margin-bottom: 1rem;
		font-size: 1rem;
	}

	& ul,
	& ol {
		display: flex;
		flex-direction: column;
		row-gap: 0.25rem;
		padding-left: 1.25rem;
	}

	& ul {
		/*list-style-type: disc;*/
		list-style-type: square;
	}

	& ol {
		list-style-type: decimal;
	}
}
